* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

@font-face {
  font-family: "Inter";
  src: url(../../assets/fonts/Inter/Inter-VariableFont_slnt\,wght.ttf);
}
.container {
  width: 90%;
  max-width: 1200px;
  margin-inline: auto;
  overflow: hidden;
}

.nav {
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  --url-menu: url(../assets/img/menu.svg);
  --opacity: 0;
  --transform-menu: translate(-120%);
  --pointer-menu: none;
}
.nav:has([id=menu]:checked) {
  --url-menu: url(../assets/img/close.svg);
  --opacity: 1;
  --transform-menu: translate(0);
  --pointer-menu: unset;
}
.nav__logo {
  width: 40%;
  max-width: 200px;
}
.nav__img {
  width: 100%;
  display: block;
}
.nav__menu {
  background-color: #fff;
  position: absolute;
  top: 90px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  inset-inline: 0;
  padding: 30px 5%;
  pointer-events: var(--pointer-menu);
  opacity: var(--opacity);
  transform: var(--transform-menu);
  transition: 0.4s opacity, transform 0.8s;
}
.nav__links {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border-radius: 0.5rem;
}
.nav__link {
  display: block;
  padding: 1rem;
  color: black;
}
.nav__link:hover {
  background-color: rgb(5, 35, 232);
  color: rgb(220, 242, 241);
}
.nav__btn {
  display: inline-block;
  padding: 1rem 2rem;
  margin-top: 1rem;
  text-align: center;
  border-radius: 4px;
  color: rgb(220, 242, 241);
  background-color: rgb(5, 35, 232);
  transition: all 0.3s ease;
}
.nav__label {
  display: block;
  height: 40px;
  width: 40px;
  cursor: pointer;
  background-image: var(--url-menu);
  background-repeat: no-repeat;
  background-size: contain;
  transition: 0.3s background-image;
}
.nav #menu {
  display: none;
}

/* Hero Main */
.hero__main {
  background-image: linear-gradient(rgba(5, 7, 12, 0.6), rgba(5, 7, 12, 0.6)), url(../assets/img/hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.hero__content {
  height: 70vh;
  padding: 30px 0;
  display: flex;
  align-items: center;
  text-align: center;
}
.hero__content .hero__block {
  width: 100%;
}
.hero__content .hero__block .hero__title {
  font-size: 2rem;
  color: rgb(220, 242, 241);
}
.hero__content .hero__block .hero__paragraph {
  margin: 2rem 0;
  line-height: 1.8;
  font-size: 14px;
  color: rgb(220, 242, 241);
}
.hero__content .hero__block .btn {
  padding: 1rem 2rem;
  background-color: rgb(5, 35, 232);
  color: rgb(220, 242, 241);
  border-radius: 4px;
  max-width: 180px;
  text-align: center;
}
.hero__content .hero__block .btn:hover {
  background-color: rgb(16, 218, 232);
}

.about {
  display: flex;
  flex-direction: column;
  padding: 70px 0;
}
.about__subtitle {
  color: rgb(5, 35, 232);
}
.about__title {
  margin: 1.5rem 0;
}
.about__paragraph {
  line-height: 1.8;
}
.about__left {
  display: flex;
  flex-direction: column;
  margin: 20px 0;
}
.about__right {
  margin: 20px 0;
}

.cards {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1.5rem;
}
.cards__article {
  width: 250px;
  max-width: 500px;
  flex-grow: 1;
  display: flex;
  gap: 1.5rem;
}
.cards__article .cards__figure {
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cards__article .cards__figure .cards__img {
  width: 100%;
}
.cards__text {
  width: 50%;
  flex-grow: 1;
}
.cards__text .cards__title {
  font-size: 1.25rem;
}
.cards__text .cards__paragraph {
  line-height: 1.8;
}
.cards__services {
  width: 300px;
  max-width: 600px;
  padding: 20px;
  flex-grow: 1;
  transition: all 0.3s;
}
.cards__services__figure {
  position: relative;
  width: 100%;
  overflow: hidden;
  border-radius: 0 2.5rem 0 0;
}
.cards__services__figure .overlay {
  width: 0;
  height: 0;
  background-color: rgba(5, 35, 232, 0.55);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: width 0.3s, height 0.3s;
  border-radius: 50%;
  z-index: 1;
}
.cards__services__figure .cards__services__img {
  width: 100%;
  display: block;
  transition: all 0.7s;
}
.cards__services__figure:hover .overlay {
  width: 150%;
  height: 150%;
}
.cards__services__figure:hover .cards__services__img {
  transform: scale(1.07);
}
.cards__services__text {
  height: 100px;
  padding: 25px 35px;
  border-radius: 0 0 0 2.5rem;
  box-shadow: 0px 0px 5px 2px rgba(5, 7, 12, 0.1);
}
.cards__services__text .cards__services__title {
  font-size: 1.3rem;
  font-weight: 600;
}

.services__title {
  font-size: 1.8rem;
  text-align: center;
}
.services__paragraph {
  line-height: 1.8;
  text-align: center;
  margin: 1.5rem 0;
}

.working {
  padding: 70px 0;
  text-align: center;
}
.working__subtitle {
  color: rgb(5, 35, 232);
  width: 100%;
}
.working__title {
  margin: 1.5rem 0;
  width: 100%;
}

.target {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, 1fr);
  gap: 15px;
}
.target__article {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: 32px;
  margin: 26px 10px 10px;
  background-color: rgb(220, 242, 241);
}
.target__article .target__subtitle {
  position: absolute;
  padding: 7px 20px;
  top: -15px;
  background-color: rgb(5, 35, 232);
  color: rgb(220, 242, 241);
  font-size: 17px;
  font-weight: 500;
  border-radius: 20px;
}
.target__article .target__title {
  font-size: 24px;
  font-weight: 600;
  margin: 30px 0 7px;
}
.target__article .target__paragraph {
  line-height: 1.8;
  font-size: 16px;
  margin: 10px 0;
}
.target__article .target__button {
  display: inline-block;
  padding: 10px 34px;
  color: rgb(220, 242, 241);
  background-color: rgb(5, 35, 232);
  border-radius: 5px;
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 224px);
  grid-template-areas: "img-one" "element" "img-two";
  gap: 9px;
}
.grid__one {
  background-image: url(../assets/img/grid__1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 10px;
  grid-area: img-one;
}
.grid__two {
  background-image: url(../assets/img/grid__2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
  grid-area: img-two;
}
.grid__element {
  padding: 30px 32px;
  text-align: center;
  color: rgb(220, 242, 241);
  background-color: rgb(5, 35, 232);
  border-radius: 10px;
  grid-area: element;
}
.grid__element__icon {
  font-size: 40px;
}
.grid__element__title {
  font-size: 20px;
  margin-top: 10px;
}
.grid__element__paragraph {
  line-height: 1.55;
  margin: 15px 0 10px;
}

.phrase {
  background-image: linear-gradient(rgba(5, 7, 12, 0.6), rgba(5, 7, 12, 0.6)), url(../assets/img/phrase__marketing.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.phrase__content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 50px 28px;
  text-align: center;
  color: rgb(220, 242, 241);
}
.phrase__content blockquote {
  width: 100%;
  margin: 20px 0;
  font-size: 25px;
  font-weight: 700;
  line-height: 1;
}
.phrase__content blockquote span {
  color: rgb(5, 35, 232);
}
.phrase__content .phrase__paragraph {
  margin: 20px 0;
  line-height: 1.5;
  font-size: 14px;
}

.footer {
  display: flex;
  flex-direction: column;
  background-color: rgb(15, 16, 53);
}
.footer__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
  padding: 2rem 0;
}
.footer__content .footer__links {
  margin: 10px;
}
.footer__content .footer__links .footer__logo {
  margin: 10px 0;
  font-size: 25px;
  font-weight: 700;
}
.footer__content .footer__links .footer__logo a {
  color: rgb(5, 35, 232);
}
.footer__content .footer__links .footer__paragraph {
  margin-bottom: 1rem;
  line-height: 1.5rem;
  color: rgb(220, 242, 241);
}
.footer__content .footer__links .social__media {
  display: flex;
  font-size: 25px;
  padding-right: 10px;
  gap: 1rem;
}
.footer__content .footer__links .social__media .fa-brands {
  color: rgb(220, 242, 241);
  transition: all 0.3s ease;
}
.footer__content .footer__links .social__media .fa-brands:hover {
  color: rgb(16, 218, 232);
  transform: scale(1.2);
}
.footer__content .footer__links .footer__title {
  font-size: 23px;
  margin-bottom: 12px;
  color: rgb(5, 35, 232);
}
.footer__content .footer__links .footer__list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footer__content .footer__links .footer__list li a {
  color: rgb(220, 242, 241);
}
.footer__content .footer__links .footer__list li a:hover {
  color: rgb(16, 218, 232);
}
.footer__copy {
  color: rgb(220, 242, 241);
  text-align: center;
  font-size: 0.9rem;
  font-weight: 500;
  padding: 0.7rem;
  background-color: rgb(5, 35, 232);
}

@media screen and (min-width: 1200px) {
  .nav {
    --opacity: 1;
    --transform-menu: unset;
    --pointer-menu: unset;
  }
  .nav__logo {
    max-width: 200px;
  }
  .nav__menu {
    position: static;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    margin-right: 20px;
    align-items: center;
    justify-content: space-between;
    transform: none;
    transition: none;
    padding: 0;
    background-color: transparent;
  }
  .nav__menu .nav__links {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    gap: 1rem;
  }
  .nav__menu .nav__links .nav__link {
    font-weight: 600;
    transition: all 0.3s ease;
  }
  .nav__menu .nav__links .nav__link:hover {
    color: rgb(5, 35, 232);
    background-color: #fff;
    transform: scale(1.1);
  }
  .nav__menu .nav__btn {
    margin: 0;
  }
  .nav__menu .nav__btn:hover {
    transform: scale(1.1);
  }
  .nav .nav__label {
    display: none;
  }
  .hero__content {
    text-align: left;
  }
  .hero__content__block {
    width: 50%;
    min-width: 425px;
  }
  .hero__content__block .hero__title {
    font-size: 2.5rem;
  }
  .hero__content__block .hero__paragraph {
    font-size: 15px;
  }
  .about {
    flex-direction: row;
    padding: 70px 0;
  }
  .about__content {
    width: 50%;
    padding-right: 96px;
  }
  .about__content .about__title {
    font-size: 40px;
  }
  .services__title {
    font-size: 44px;
  }
  .working__title {
    margin: 1.5rem 0 2rem;
    font-size: 44px;
  }
  .target {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
  }
  .about__left {
    width: 50%;
    padding-right: 96px;
  }
  .about__right {
    width: 50%;
  }
  .grid {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 224px auto;
    grid-template-areas: "img-one img-two" "element img-two";
  }
  .phrase__content blockquote {
    width: 70%;
    font-size: 40px;
    line-height: 1.3;
  }
  .phrase__paragraph {
    margin: 30px 0;
    width: 70%;
  }
  .footer__content {
    flex-direction: row;
    gap: 1rem;
    padding: 2rem 0;
  }
  .footer__content .footer__links {
    margin: 10px;
    width: 20%;
  }
  .footer__content .footer__links .footer__logo {
    margin: 0 0 10px;
  }
  .footer__content .footer__links:nth-child(1) {
    width: 40%;
  }
}

/*# sourceMappingURL=main.css.map */
