@use './mixins' as mix; 

.container{
    overflow: hidden;
}

.container--section{
    padding: 80px 0 60px 0;
    overflow: hidden;

    @include mix.media-break-point-down(md) {
        width: 90%;
    }
}