@use '../utilities/mixins' as mix;

.about {
    margin: 0 auto;

    &__content {

        &-subtitle {
            color: $color-5;
            font-size: 18px;
            font-weight: 700;
        }

        &-title {
            font-weight: 700;
        }

        &-paragraph {
            line-height: 1.4;
            margin-bottom: 20px;
            text-align: start;

            span {
                font-weight: 700;
                color: $color-5;
            }
        }    
    }

    &__boxes {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, auto);
        row-gap: 36px;
        column-gap: 58px;

            @include mix.media-break-point-down(md) {
                width: 100%;
            }

            @include mix.media-break-point-down(sm) {
                grid-template-columns: 1fr;
                grid-template-rows: repeat(4, auto);
            }
    }

    &__article {
        display: flex;
        flex-direction: column;
        gap: 10px;

        &-img {
            width: 65px;
            height: 65px;
        }

        &-title {
            font-size: 18px;
            font-weight: 700;
        }

        &-paragraph {
            margin: 0;
        }

        @include mix.media-break-point-down(md) {
            align-items: center;
            text-align: center;
        }
    }
}