@use '../utilities/mixins' as mixin;

.cards-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;

    padding: 30px 0;

    @include mixin.media-break-point-down(md) {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);

        grid-template-areas: 
            "first second"
            "fourth third"
            "fifth sixth"
        ;
    }

    @include mixin.media-break-point-down(sm) {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 1fr);

        grid-template-areas: 
            "first"
            "second"
            "third"
            "fourth"
            "fifth"
            "sixth"

        ;
    }

    .cards {
        @include mixin.media-break-point-down(md) {
            &:nth-child(1) {
                grid-area: first;
            }
    
            &:nth-child(2) {
                grid-area: second;
            }
    
            &:nth-child(3) {
                grid-area: third;
            }
    
            &:nth-child(4) {
                grid-area: fourth;
            }
    
            &:nth-child(5) {
                grid-area: fifth;
            }
    
            &:nth-child(6) {
                grid-area: sixth;
            }
        }
    }
}