.contact {
    display: flex;
    flex-direction: row;
    gap: 6%;

    &-form {
        width: 48%;
    }

    &-maps {
        width: 48%;
    }

    &__subtitle{
        color: $color-5;
        font-size: 18px;
        font-weight: 700;
        margin-bottom: 24px;
    }

        
    &__title{
        font-size: 40px;
        font-weight: 700;
        margin-bottom: 24px;
    }
    
    &__paragraph{
        line-height: 1.4;

        span {
            font-weight: 700;
            color: $color-5;
        }
    }
}