@use '../utilities/mixins' as mixin;

.methodology {
    background-image: linear-gradient(rgb(15, 16, 53), rgb(44, 47, 155));

    &-subtitle{
        color: $background-lavanda;
        font-size: 18px;
        font-weight: 700;
        margin-bottom: 24px;

        @include mixin.media-break-point-down(md) {
            font-size: 16px;
        }
    }
    
    &-title{
        color: $color-white;
        font-size: 40px;
        font-weight: 700;
        margin-bottom: 24px;

        @include mixin.media-break-point-down(md) {
            font-size: 35px;
        }

        @include mixin.media-break-point-down(sm) {
            font-size: 27px;
        }
    }

    &__steps {
        margin: 3rem 0;
    }

    &__targets {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 1rem;

        .targets {
            width: 50%;
        }

        @include mixin.media-break-point-down(lg) {
            .targets {
                margin-bottom: 2rem;
            }
        }

        @include mixin.media-break-point-down(sm) {
            flex-direction: column;
            align-items: center;
            .targets {
                width: auto;
            }
        }
    }
}