@use '../utilities/mixins' as mixin;

.navbar {
    padding: 30px 0 0;
    position: relative;

    &-logo {
        width: 40%;
        max-width: 200px;
    }

    &-img {
        width: 100%;
        display: block;
    }

    &-toggler {
        border: none;

        &:focus {
            box-shadow: none;
            outline: none;
        }
    }

    &-button--visible {
        visibility: hidden;
        position: absolute;
        right: 10px;
    }

    &-item--visible {
        position: absolute;
        top: 31%;
        transition: none;
        
        & a {
            color: $color-5;
            font-weight: 700;
        }
    }

    @include mixin.media-break-point-up(lg) {
        .nav-link {
            color: $color-white;
            font-weight: 700;
            position: relative;

            &:hover, &.active {
                color: $color-5;
            }

            &::before {
                content: "";
                position: absolute;
                bottom: 0;
                left: 50%;
                transform: translate(-50%);
                width: 0%;
                height: 2px;
                visibility: hidden;
                transition: .3s ease-in-out;
                background-color: $color-5;

            }

            &:hover::before, &.active::before {
                width: 100%;
                visibility: visible;
            }
        }

        &-button--visible {
            position: relative;
            visibility: visible;
        }

        &-item--visible {
            transition: none;
            visibility: hidden;
        }
    }
}