@use '../utilities/mixins' as mixin;

.cards {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 20px 10px;
    border-radius: 15px;
    align-items: center;
    text-align: center;

    &__img {
        width: 65px;
        height: 65px;
    }

    &__title {
        font-size: 18px;
        font-weight: 700;
    }

    &__paragraph {
        margin: 0;
    }

    &:nth-child(odd) {
        background-color: #0523E8;
        color: #fff;
    }    
}







