@use '../utilities/mixins' as mix;

.grid-collage {
    width: 49%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: 
        "img-one img-three"
        "img-two img-three"
    ;
    gap: 9px;

    @include mix.media-break-point-down(md) {
        width: 100%;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
        grid-template-areas: 
            "img-one"
            "img-two"
            "img-three"
        ;
    }

    &__one {
        background-image: url(../assets/img/grid__1.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 15px;
        grid-area: img-one;
    }

    &__two {
        background-color: #0523E8;
        color: #fff;
        grid-area: img-two;
    }

    &__three {
        background-image: url(../assets/img/grid__2.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 15px;
        grid-area: img-three;
    }

    

}