.targets {
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
    padding: 2.5rem 1.5rem;
    border: 2px dashed $color-white ;
    border-radius: 15px;
    align-items: center;
    text-align: center;
    color: $color-white;

    &__img {
        width: 65px;
        height: 65px;
    }

    &__title {
        margin-top: 2rem;
        font-weight: 700;
    }

    &__paragraph {
        font-size: 14px;
    }
}