@use '../utilities/mixins' as mixin;

.targets {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 20px 10px;
    border: 2px dashed #fff ;
    border-radius: 15px;
    align-items: center;
    color: #fff;

    &__img {
        width: 65px;
        height: 65px;
    }

    &__title {
        font-size: 18px;
        font-weight: 700;
    }

    &__paragraph {
        margin: 0;
    }

    @include mixin.media-break-point-down(md) {
        &:nth-child(1) {
            grid-area: target1;
        }

        &:nth-child(2) {
            grid-area: target2;
        }

        &:nth-child(3) {
            grid-area: target3;
        }

        &:nth-child(4) {
            grid-area: target4;
        }
    }

}

