@use '../utilities/mixins' as mixin;

.hero {
    &__content--size {
        height: 50vh;
    }
}

.contact {
    padding: 96px 0;
    background-color:rgba(145, 157, 240, 9%);

    &__content {
        margin: 20px;
        padding: 30px 40px;
        background-color: #fff;
        border-radius: 15px;
        box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.1);

        @include mixin.media-break-point-down(lg) {
            margin: 20px 0;
        }

        &-subtitle {
            color: $color-5;
            font-size: 18px;
            font-weight: 700;
        }

        &-title {
            font-weight: 700;
        }

        &-paragraph {
            line-height: 1.4;
            margin-bottom: 20px;
            text-align: start;

            span {
                font-weight: 700;
                color: $color-5;
            }
        }    
    }

    &__ubication {
        width: 100%;
        margin: 20px 0;
        background-color: #fff;
        border-radius: 15px;
        box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1);

        &__box {
            padding: 0 10%;
            margin: 20px 0;

            &-item {
                display: flex;
                margin-bottom: 20px;
            }

            &-icon {
                width: 15%;
            }

            &-content {
                width: 85%;

                &__title {
                    font-weight: 600;
                    color: $color-5;
                }
            }

        }
    }

    
}